fastapi 
uvicorn 
sqlalchemy 
pymysql 
langchain 
langgraph 
openai 
streamlit 
requests
langchain_groq
tabulate
streamlit==1.24.1
langchain
langchain_community
langchain_experimental
matplotlib
passlib
bcrypt
python-dotenv