fastapi 
uvicorn 
sqlalchemy 
pymysql 
langchain 
langgraph 
openai 
streamlit 
requests
langchain_groq
tabulate
streamlit>=1.30.0
langchain
langchain_community
langchain_experimental
matplotlib
passlib
bcrypt
python-dotenv
pydantic
email-validator
cryptography
pytesseract==0.3.13
streamlit_autorefresh
tesseract
opencv-python
Pillow
opencv-contrib-python
opencv-python-headless
rapidfuzz
fuzzywuzzy
easyocr
psycopg2